<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test">

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ElevatorActivity"></activity>
        <activity android:name=".EditStoryActivity" />
        <activity android:name=".SpotlistActivity" />
        <activity android:name=".Web" />
        <activity android:name=".artest" />
        <activity
            android:name=".accounts.Register"
            android:parentActivityName=".accounts.Login" />
        <activity
            android:name=".accounts.Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".accounts.AccountPage"
            android:label="Account"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar" />
        <activity
            android:name=".accounts.ChangeData"
            android:label="Manage User Data"
            android:parentActivityName=".accounts.AccountPage"
            android:theme="@style/bar">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".accounts.AccountPage"/> -->
        </activity>
        <activity
            android:name=".accounts.Liked"
            android:label="Liked Spots"
            android:parentActivityName=".accounts.AccountPage"
            android:theme="@style/bar" />
        <activity
            android:name=".PopUpWindow"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar" />
        <activity
            android:name=".game"
            android:label="game"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".ar"
            android:label="ar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".account"
            android:label="account"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".map"
            android:label="map"
            android:parentActivityName=".MainActivity"
            android:theme="@style/bar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>